body {
    font-family: 'Benton Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    background-color: #ffffff !important;
}

#selected-mark {
    color: #2a5f8b !important; /* Tableau Blue */
    font-weight: 700;
}

.btn-success {
    background-color: #59a14f !important; /* Tableau Green */
    border-color: #59a14f !important;
    font-weight: bold;
}

.btn-success:hover {
    background-color: #437a3c !important; /* Darker Green on Hover */
    border-color: #437a3c !important;
}

.form-control {
    border-radius: 2px !important;
    border: 1px solid #d3d3d3 !important;
    font-size: 14px !important;
}

.card {
    border: none !important; /* Removes the Bootstrap border */
    box-shadow: none !important; /* Removes the shadow for a flat look */
}
